html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', 'Arial', sans-serif;
    font-weight: 300;
    width: 100%;
    background-color: #F5FEFC;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

button {
    background-color: inherit;
    border: none;
    font-family: 'Comfortaa', 'Arial', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

/*HEADER*/
header {
    width: inherit;
    position: relative;
}

.hero {
    width: inherit;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.extra-space {
    background-color: #9df6dc;
    height: inherit;
}

.cover-photo {
    width: inherit;
    background-color: #9df6dc;
    display: flex;
    justify-content: center;
    /* box-shadow: 0 0 7px #75b2a0; */
}

.arrow-space {
    height: inherit;
}

.cover-photo-img {
    width: 80%;
    margin: 0 10% 0 10%;
    height: 100%;
}

.main-arrow {
    position: absolute;
    width: 1.5rem;
    left: 6em;
    bottom: 1.5em;
    animation: moveArrow 1s alternate-reverse infinite;
}

.main-arrow path {
    fill: black;
    animation: dropDown 1s ease-in-out forwards;

}

.menu {
    margin: 0 0 0 0;
    padding-right: 1.5em;
    position: fixed;
    right: 2em;
    top: 1.5em;
    animation: dropDown 1s ease-in-out forwards;
}

.menu li {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #9df6dc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 1em;
    transition: 1s;
}

.menu i {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    margin: 0;
    padding: 0;
}

.menu li:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: brightness(110%);
    box-shadow: 0 0 7px #75b2a0;
}


/* NAV*/
nav {
    width: 80%;
    height: 100vh;
    margin: 0em 10% 7em 10%;
    padding: 0 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2);
    grid-row-gap: 2em;
    justify-content: space-between;
}

nav button {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: black;
    transition: 1.5s;
}

nav button img {
    width: 14rem;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px black;
    margin: 0 0 1em 0;
}

#who-img {
    border-left: .1rem solid black;
}

#what-img {
    border-top: .1rem outset black;
}

#for-who-img {
    border-right: .1rem outset black;
}

#how-much-img {
    border-left: .1rem outset black;
}

#contact-img {
    border-bottom: .1rem outset black;
}

.to-read-img {
    background-color: #C29DF6;
    border-top: .1rem outset black;
}

nav button:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: brightness(110%);
}

button[aria-selected="true"] {
    transform: scale(1.2);
    filter: brightness(110%);
}

/*OVERLINES*/
.overline {
    display: flex;
    opacity: 0;
    width: 0;
    margin: 0 0 0 10%;
    padding: 1em 0 0 0;
    border-bottom: .2rem;
    border-bottom-style: solid;
    filter: brightness(100%);
    transition-property: opacity, filter, width;
    transition-timing-function: ease-out;
    position: relative;
}

.overline-on {
    transition-property: opacity, filter, width;
    filter: brightness(100%);
    opacity: 1;
    width: 80%;
    transition-duration: 1s;
}

.overline-off {
    transition-property: width;
    width: 0;
    filter: brightness(90%);
    transition-duration: 1s;
}

/*ARTICLE*/

.article {
    width: 80%;
    margin: 2em 10% 5em 10%;
    justify-content: center;
    line-height: 1.5;
    transition-property: opacity;
    opacity: 0;
    transition-timing-function: ease-in;
}

.show-article {
    transition-property: opacity;
    transition-timing-function: ease-in;
    opacity: 1;
    transition-duration: .7s;
}

.hide-article {
    transition-property: opacity;
    transition-timing-function: ease-in;
    opacity: 0;
    transition-duration: .7s;
}

.article p {
    margin: 1em 0 0 0;
    font-size: 1.1rem;
}

.subtitle {
    font-size: 1.2rem;
    padding: 1em 0 0 0;
    margin: 0;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

.article li {
    font-size: 1.1rem;
    margin: 0;
    display: flex;
}

.article li::before {
    font-family: Font Awesome\ 5 Free;
    content: "\f058";
    font-weight: 900;
    margin: .1em 1em 0 0;
    font-size: 1.1rem;
}

.article img {
    border-radius: 50%;
    shape-outside: circle();
    box-shadow: 0 0 10px black;
    max-width: 100%;
}


.go-right-go-up {
    margin: 0 10% 3em 10%;
    display: none;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, auto);
}

.go-left-btn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.go-right-go-up-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.go-right-go-up button {
    display: flex;
    margin: 1em 0 0 0;
    font-size: 1.2rem;
    align-items: center;
    font-weight: 600;
    color: black;
    transition: 1s;
}

.go-right i,
.go-up i {
    margin: 0 0 0 .3em;
    font-size: 1.5rem;
}

.go-left i {
    margin: 0 .3em 0 0;
    font-size: 1.5rem; 
}

.go-left:hover,
.go-right:hover,
.go-up:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: brightness(110%);
}

.fa-chevron-circle-right,
.fa-chevron-circle-left,
.fa-chevron-circle-up {
    color: #9df6dc;
}



/*ARTICLE WHO*/

.who img {
    float: left;
    width: 20rem;
    border-left: .1rem solid black;
    margin: 0 1.3em 1.3em 0;
}

.who li::before {
    color: #ff96e3;
}

.who .fa-search-plus {
    margin: 0 .3em 0 0;
    font-size: .9rem;
}

.who li {
    display: flex;
    justify-content: flex-start;
    margin-top: .4em;
}

.crtf-btn {
    background-color: #F5FEFC;
    color: #ff96e3;
    border: none;
    margin: 0;
    cursor: pointer;
    font-size: .9rem;
}

.certificates-collection {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.show {
    display: grid;
}

.show-crtf-collection {
    display: flex;
}

.certificates-collection img {
    height: 90%;
    width: auto;
    border-radius: 5%;
    border: 1px solid #ff96e3;
    padding: .5em;
    position: absolute;
}

.certificates-navigation {
    display: none;
}

.crtf-nav-btns,
.close-contact-form {
    position: fixed;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.crtf-nav-btns i {
    color: #F5FEFC;
    margin: 0;
    padding: 0;
}

.prev-crtf,
.next-crtf,
.close-crtf {
    background-color: #ff96e3;
    transition: 1s;
}


.next-crtf {
    left: 75%;
    top: 50%;
}

.prev-crtf {
    right: 75%;
    top: 50%;
}

.close-crtf {
    top: 3%;
    left: 75%;
}

.prev-crtf:hover,
.next-crtf:hover,
.close-crtf:hover,
.close-contact-form:hover {
    transform: scale(1.2);
}

.fa-times {
    margin:0;
    padding: 0;
}

/*ARTICLE WHAT*/

.what li::before{
    color: #62d2f5;
}

.what .fa-chevron-circle-right {
    color: #fff993;
}

.what-photo1 {
    float: right;
    width: 20rem;
    margin: 2em 0 2em 1em;
    border-top: .15vw solid black;
}

.what-photo2 {
    float: right;
    width: 14rem;
    margin: 11em .5em 2em 2em;
    border-top: .1rem solid black;
}

/*ARTICLE FOR-WHO*/

.for-who li::before {
    color: #fff993;
}

.for-who-img1 {
    width: 17rem;
    float: right;
    margin: 1em 0 0 3em;
    border-right: .1rem solid black;
}

.for-who-img2 {
    width: 14rem;
    float: right;
    margin: 1em 3em 1em 5em;
    border-right: .1rem solid black;
}

/*ARTICLE TO-READ*/
.to-read-article-img {
    width: 17rem;
    float: right;
    margin: 0 0 2em 2em;
}

.article-content h3,
.article-content span {
    color: #C29DF6;
}

.article-content span {
    font-size: 1.5rem;
}

.article-content {
    margin: 0 0 3em 0;
    padding: 0;
}

.article-content .subtitle {
    margin: 0;
    padding: 0;
}

.article-text {
    margin-bottom: 1em;
}

.read-article-btn {
    color: #C29DF6;
    padding: 0;
    font-size: .9rem;
}

.to-read .fa-search-plus {
    font-size: .9rem;
}

/*ARTICLE HOW-MUCH*/
.how-much-img {
    width: 15rem;
    float: right;
    margin: 0 0 0 2em;
    border-bottom: .1rem solid black;
}

.how-much-details {
    display: flex;
}

.how-much-details ul {
    margin: 0 5em 3em 0;
    padding: 0;
}

.how-much-details li {
    margin: 0;
    padding: 0;
}

.how-much-details li::before {
    color: #F6A89D;
}

/*ARTICLE CONTACT*/
.contact img {
    float: left;
    width: 17rem;
    border-left: .1rem solid black;
    margin: 0 1.3em 1.3em 0;
}

.contact ul {
    padding-bottom: 1.5em;
    padding-left: 0;
}

.contact li::before {
    display: none;
}

.contact i {
    margin: .1em 1em 0 0;
    font-size: 1.1rem;
}

.contact-details button,
.contact-details a {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.7;
    text-decoration: none;
    color: black;
}

.contact a,
.location a {
    font-style: normal;
}

.fa-phone {
    color: #f95006;
}
.fa-envelope{
    color: #1aa7d3;
}

.fa-map-marker-alt {
    color: #ffaa00;
}

.fa-paste {
    color: #dd4e07;
}

.contact .go-right-go-up i {
    color: #79fd92;
}

/*CONTACT FORM*/
.open-form {
    padding: 0;
}

.contact .fa-search-plus {
    color: #fc4273;
    padding-bottom: 1em;
}

#gmap_canvas {
    width: 100%;
    height: 30rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 .08rem black;
    margin-top: 1em;
}

#gmap_canvas:hover {
    opacity: 1;
    transition: .7s;
}

.contact-form {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.contact-form span {
    color: red;
}

.leave-a-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    background-color: #F5FEFC;
    border: .3rem solid #9df6dc;
    height: 90vh;
    width: 50%;
    padding: 2em 1em 0 2em;
}

.leave-a-message h5 {
    margin: 0 0 .5em 0;
}

.leave-a-message input {
    font-family: 'Comfortaa', 'Arial', sans-serif;
}

.contact-me,
.message {
    border: 1px solid #9df6dc;
    background-color: #F5FEFC;
    border-radius: 5px;
    margin: 0 0 2em 0;
    padding: 1em 1em 1.5em .5em;
}

.contact-me {
    max-width: 20em;
    min-width: fit-content;
}

.send-btn {
    background-color: #9df6dc;
    border: none;
    box-shadow: 0 0 7px #75b2a0;
    border-radius: 5px;
    padding: 1em;
    width: fit-content;
    margin-bottom: 2em;
    cursor: pointer;
    font-size: .72rem;
    transition: 1s;

}

.send-btn:hover {
    transform: scale(1.2);
    filter: brightness(110%);
}

.message {
    width: unset;
    height: 12rem;
}

.close-contact-form {
    background-color: #9df6dc;
    color: black;
    right: 15%;
    top: 3%;
    transition: 1s;
}

.close-contact-form .fa-times {
    margin: 0;
    padding: 0;
}

.form-feedback {
    display: flex;
    margin: 0 0 2em 0;
    padding: 0;
    font-size: .6rem;
    color: red;
}

.confirmation {
    justify-content: flex-end;
    margin-right: 3.2em;
}

/*FOOTER*/
footer {
background-color: #9df6dc;
display: flex;
flex-direction: column;
text-align: center;
box-shadow: 0 0 7px #75b2a0;
padding-top: 3.5em;
}

.footer-cover {
    display: flex;
    justify-content: center;
}

.footer-img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-bottom: -4.5em;
    border-top: 1px outset #75b2a0;
    /* border-top: 1px outset black; */
}

.copyrights {
    background-color: #75b2a0;
    margin-top: 2em;
}


.swip {
    display: none;
}

@keyframes dropDown {
    from {
        transform: translateY(-20em);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes moveArrow {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-8em);
    }
}




@media only screen and (min-width: 1400px) {
    
    nav,
    .cover-photo-img,
    .overline,
    .overline-on,
    .go-right-go-up,
    .article {
        width: 1100px;
        margin-right: auto;
        margin-left: auto;
    }

    .main-arrow {
        left: 8em;
        bottom: 2em;
    }

    .menu {
        right: 5em;
        top: 2em;
    }
}


@media only screen and (max-width: 1100px) {

    .menu {
        padding-right: 1em;
        transform: none;
    }

    .menu li:hover {
        transform: none;
    }

    .hero {
        height: 60vh;
        
    }
    
    .cover-photo img {
        width: 100%;
    }

    .main-arrow {
        left: 16.8%;
        width: 1.2rem;
        /* top: 29em; */
    }

    nav {
        width: 97%;
        margin: 3em 2.5% 7em .5%;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3);
        grid-row-gap: 5em;
        justify-content: space-around;
        height: unset;
    }

    button:hover {
        transform: none;
    }
    
    .what-photo2 {
        display: none;
    }

    .how-much-img {
        width: 14rem;
    }

    .overline {
        width: 90%;
        margin: 0 7% 0 3%; 
    }

    .article,
    .go-right-go-up {
        width: 90%;
        margin: 2em 7% 2em 3%;
    }

    .article ul {
        padding: 0;
    }

    .how-much-details ul {
        margin-right: 2em;
    }
    
    .certificates-collection img {
        height: 75%;
        width: auto;
    }

    .next-crtf {
        left: 90%;
    }
    
    .prev-crtf {
        right: 90%;
    }
    
    .close-crtf {
        top: 3%;
        left: 90%;
    }

    .leave-a-message {
        width: 70%;
        height: 70%;
    }

    .close-contact-form {
        right: 10%;
    }

    .footer-img {
        margin-bottom: -2em;
    }
}

@media only screen and (max-width: 680px) {

    .arrow-space {
        background-color: #9df6dc;
    }

    .hero {
        
        height: 100vh;
        min-height: 100vh;
        box-shadow: 0 0 7px #75b2a0;
    }
    
    .extra-space {
        height: 100%;
    }

    .main-arrow {
        left: 17%;
        width: .7rem;
        /* top: 23em; */
    }

    nav {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(1);
        margin-top: 5em;
        width: 100%;
    }

    nav button img {
        width: 12rem;
    }

    article {
        width: 98%;
        margin: 2em 1% 2em 1%;
    }

    .go-right-go-up {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: end;
    }

    .certificates-collection img {
        width: 70%;
        height: auto;
    }

    .next-crtf {
        left: 65%;
        top: 85%;
    }
    
    .prev-crtf {
        right: 65%;
        top: 85%;
    }
    
    .close-crtf {
        top: 1%;
        left: 80%;
    }
    
    .who img {
        float: none;
    }

    .what-photo1 {
        display: none;
    }

    .for-who-img1,
    .for-who-img2 {
        display: none;
    }

    .to-read-article-img {
        display: none;
    }

    .contact img {
        float: none;
    }

    .how-much-img {
        display: none;
    }

    .how-much-details ul {
        margin: 0 0 3em 0;
        padding: 0;
    }

    footer {
        padding-top: 2.5em;
    }
        
    .footer-img {
        width: 3rem;
        height: 3rem;
    }

    .company-name .subtitle {
        font-size: .9rem;
    }
    
}


/* @media only screen and (max-width: 450px) {
    body {
        width: 450px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        overflow-x: scroll;
    }

    .footer-img {
        display: none;
    }
    
    .location,
    .contact {
        align-items: flex-start;
    }

} */